body{
  text-align: center;
  font-family:helvatica,cursive;
}
.lowel{
  background-color: #A2CDCD;
  padding: 20px;
  color: red;
}
.contact-me{
  background-color: black;
  color: white;
  padding-top: 19.9px;
}
.bottom-container{
  background-color: black;
  color: white;
}
img{
  width: 200px;
  text-align: center;
}
.flfla{
  float: left;
  margin-right: 30px;
}
body{
  margin: 0;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
h1{
  color: #66BFBF;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5em;
}
h2{
  color: #66BFBF;
}
.stcountiner{
  width: 200px;
  height: 200px;
  background-color: red;
  margin-left: 260px;

}
.socialMedia{
  background-color: black;
  color: white;
  padding: 20px;
  }
.midcountainer{
  width: 700px;
  height: 200px;
  background-color: blue;
  margin-left: 500px;
}
